/* Hoja de estilos general */
body {
  font-family: 'Signika' !important;
  background-image: url("../lib/fondo-main.jpg");
  margin-bottom: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

.contenedor-principal, .contenedor-app {
  margin-top: 20px;
}

.contenedor-app {
  margin-bottom: 7.5rem !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 30px; */
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../lib/fondo-footer.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.oculto {
  display: none !important;
}

.estiloBoton {
  margin: 10px;
}
